<h1>Formulaire piloté par le template</h1>

<form #formCollegue="ngForm" appNomPrenomValidator >

    Pseudo<input type="text" appPseudoValidator [(ngModel)]="newCollegue.pseudo" name="pseudo" #pseudo="ngModel" id="" required>
    <div *ngIf="pseudo.dirty && pseudo.invalid">Pseudo requis</div>
    <div *ngIf="pseudo?.errors?.['pseudoExists']">
        Erreur: Le pseudo "{{newCollegue.pseudo}}" est déjà utilisé
    </div>

    Nom<input type="text" [(ngModel)]="newCollegue.nom" name="nom" id="" #nom="ngModel" required minlength="2">
    <div *ngIf="nom.dirty && nom.invalid">Le nom doit avoir au moins 2 caractères</div>

    Prenom<input type="text" [(ngModel)]="newCollegue.prenom" name="prenom" #prenom="ngModel" id="" required  minlength="2">
    <div *ngIf="prenom.dirty && prenom.invalid">Le prénom doit avoir au moins 2 caractères</div>

    Photo url<input type="text" [(ngModel)]="newCollegue.photo" name="photo" #photo="ngModel" id="" required >
    <div *ngIf="photo.dirty && photo.invalid">URL photo requise</div>
    
    <div *ngIf="formCollegue.errors && nom.dirty">Erreur: nom et prénom identiques</div>

    <button [disabled]="formCollegue.invalid" (click)="submit()" >Ajouter</button>
</form>
