<div class="container-fluid p-3 m-3 border border-2 bg-light">
  <h3>Formulaire piloté par le template</h3>

  <form #formCollegue="ngForm" class="row g-3 text-start was-validated" appNomPrenomValidator>

    <!-- pseudo -->
    <div class="col-3">
      <label for="pseudo" class="form-lablel">Pseudo</label>
      <input type="text" [(ngModel)]="newCollegue.pseudo" class="form-control" name="pseudo" #pseudo="ngModel"
        id="pseudo" placeholder="Votre pseudo" appPseudoValidator required/>
      <div *ngIf="pseudo.dirty && !pseudo?.errors?.['pseudoExists']" class="valid-feedback"> Pseudo valide</div>
      <div class="invalid-feedback">Entrez un pseudo</div>
      <div *ngIf="pseudo?.errors?.['pseudoExists']" class="invalid-custom">
        Le pseudo "{{ newCollegue.pseudo }}" est déjà utilisé
      </div>
    </div>

    <!-- prénom -->
    <div class="col-3">
      <label for="lname" class="form-lablel">Prénom</label>
      <input type="text" [(ngModel)]="newCollegue.prenom" class="form-control" name="prenom" #prenom="ngModel"
        id="lname" placeholder="Votre prénom" required minlength="2" />
      <div *ngIf="!formCollegue.errors && prenom.dirty" class="valid-feedback">Prénom valide</div>
      <div class="invalid-feedback">Entrez un prénom</div>
      <div *ngIf="prenom.dirty && prenom.invalid" class="invalid-custom">
        Le prénom doit avoir au moins 2 caractères
      </div>
      <div *ngIf="formCollegue.errors && prenom.dirty" class="invalid-custom">
        Nom et prénom identiques
      </div>
    </div>

    <!-- nom -->
    <div class="col-3">
      <label for="fname" class="form-lablel">Nom</label>
      <input type="text" [(ngModel)]="newCollegue.nom" class="form-control" name="nom" #nom="ngModel" id="fname"
        placeholder="Votre nom" required minlength="2" />
      <div *ngIf="!formCollegue.errors && nom.dirty" class="valid-feedback">Nom valide</div>
      <div class="invalid-feedback">Entrez un nom</div>
      <div *ngIf="nom.dirty && nom.invalid" class="invalid-custom">
        Le nom doit avoir au moins 2 caractères
      </div>
      <div *ngIf="formCollegue.errors && nom.dirty" class="invalid-custom">
        Nom et prénom identiques
      </div>
    </div>

    <!-- photo -->
    <div class="col-3">
      <label for="urlPhoto" class="form-lablel">Photo</label>
      <input type="text" [(ngModel)]="newCollegue.photo" class="form-control" name="photo" #photo="ngModel"
        id="urlPhoto" placeholder="URL de votre photo" required />
      <div *ngIf="photo.valid" class="valid-feedback">Url photo valide</div>
      <div class="invalid-feedback">Entrez une url pour la photo</div>
    </div>

    <!-- button -->
    <div class="col-12">
      <button [disabled]="formCollegue.invalid" class="btn btn-primary" (click)="submit(formCollegue)">
        Ajouter
      </button>
    </div>
  </form>

  <!-- résultat du submit -->
  <div class="m-2 p-2">
    <div *ngIf="msgOk" class="bg-success text-white"> {{msgOk}}</div>
    <div *ngIf="msgErreur" class="bg-danger text-white"> {{msgErreur}}</div>
  </div>
</div>
